*{
    margin:0px; /* property name : property value; */
    padding:0px;

}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: oklab(41.143% -0.00701 -0.00389);
    padding: 10px 30px;

    position: sticky;
    top:0;
}

.logo img{
    width: 40px;
}

header h1{
    text-align: center;
    color:rgb(203, 200, 200);
    flex: 1;
    font: 50px "Times New Roman";
    font-weight: 800;
}

.nav-bar{
    display: flex;
    gap: 40px;
    list-style-type: none;
}


.socials{
padding-left: 30px;
display: flex;
gap: 20px;
}

.socials img{

width: 30px;
height: 30px;
}



.nav-bar a{
    color:rgb(203, 200, 200);

}

.current{
        color:rgb(32, 11, 189);
    }

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: wavy;
}

.content{
    width: 100%;
    padding-left: 30px;
    padding-bottom: 50px;

    /*background-image: url(images/icon.png);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    */
}

/*
.home-image{
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
    border-color: chocolate;
}

*/

/*.list-aboutme{
    list-style-type: lower-roman;
}
*/

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

table{
    /*margin-top: 10px; order matters*/
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
}
td, th{
    border: 1px dashed black;
    padding: 3px;
}