*{
    margin:0px; 
    padding:0px;

}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: oklab(41.143% -0.00701 -0.00389);
    padding: 10px 30px;

    position: sticky;
    top:0;
}

.logo img{
    width: 40px;
}

header h1{
    text-align: center;
    color:rgb(203, 200, 200);
    flex: 1;
    font: 50px "Times New Roman";
    font-weight: 800;
}

.nav-bar{
    display: flex;
    gap: 40px;
    list-style-type: none;
}


.socials{
padding-left: 30px;
display: flex;
gap: 20px;
}

.socials img{

width: 30px;
height: 30px;
}



.nav-bar a{
    color:rgb(203, 200, 200);

}

.current{
        color:rgb(32, 11, 189);
    }

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: wavy;
}

.content{
    width: 100%;
    padding-left: 30px;
    padding-bottom: 50px;
}





footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

table{
    
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
td, th{
    border: 1px dashed black;
    padding: 3px;
    text-align: center;
}


.content form{

width: fit-content;
margin: auto;
text-align: left;
padding: 5px;

}

.content legend{
    text-align: center;
}

.content fieldset{
    padding: 3px;

}

.content label{
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

.content input, .content textarea{
    margin-bottom: 5px;
    width: 250px;
    padding: 6px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;

}