*{
    margin:0px; /* property name : property value; */
    padding:0px;

}

header{

    width: 100%;
    align-items: center;
    background-color: oklab(85.30799999999999% -0.11451 -0.06122);
    padding-bottom: 5px;
}

header h1{
    text-align: center;
    color:darkred;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-bar a{
    color:black;

}

.current{
        color:black;
    }

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: wavy;
}

.content{
    width: 100%;

}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}